#Django
Django==3.1.6

#Django cors
django-cors-headers==3.7.0

#Django rest framework
djangorestframework==3.12.2

#Database
psycopg2==2.8.6
dj-database-url==0.5.0

# Environment
django-environ==0.4.5
python-decouple==3.4

# Numpy
numpy==1.19.5

# Gunicorn
gunicorn==20.0.4